#browserContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

#categoryFilter {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#categoryFilter :hover {
    cursor: pointer;
    background-color: aliceblue;
}

#areasFilter {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#areasFilter :hover {
    cursor: pointer;
    background-color: aliceblue;
}