#mainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

#searchForm {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#searchForm :hover {
    background-color: aliceblue;
}

#searchButton {
    color: blue;
    border-color: blue;
}